<div class="row" ng-controller="LoginController">
    <div class="col-md-6 col-md-offset-3">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control" ng-model="user.email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" ng-model="user.password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-success" ng-click="signin()">Sign In</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-primary" ng-click="signup()">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>